<body class="cor-fundo">
  <section class="">
    <div class="container">
      <div class="pt-5">
        <div class="container-xl">
          <div class="">
            <div class="table-wrapper">
              <div class="table-title">
                <div class="row">
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between">
                      <div class="col-md-5">
                        <h4><b>Gerenciar pessoas</b></h4>
                      </div>
                      <div class="col-md-5">
                        <div class="d-flex justify-content-end">
                          <button class="btn btn-success" (click)="addPerson()">
                            <i class="fa fa-plus-circle"></i><span>Cadastrar</span>
                          </button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <table class="mt-5 w-100 m-0 table-striped cor-fundo-form">
                
                <thead>
                  <tr>
                    <th scope="col">CPF</th>
                    <th scope="col">Nome completo</th>
                    <th scope="col">Data de nascimento</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr *ngFor="let person of peopleList" class="center-align">
                    <td>{{ person.cpf }}</td>
                    <td >{{ person.nome }}</td>
                    <td>{{ person.nascimento }}</td>
                    <td >{{ person.sexo }}</td>
                    <td>{{ person.email }}</td>
                    <td >{{ person.celular }}</td>
                    <td>
                      <a [routerLink]="['/read/', person.id]" class="btn">
                        <i class="fa fa-eye view"></i>
                      </a>
                      <a [routerLink]="['/update/', person.id]" class="btn">
                        <i class="fa fa-edit edit"></i>
                      </a>
                      <button
                        type="button"
                        class="btn"
                        data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"
                      >
                        <i class="fa fa-trash trash"></i>
                      </button>
                      <!-- Modal -->
                      <div
                        class="modal fade"
                        id="staticBackdrop"
                        data-bs-backdrop="static"
                        data-bs-keyboard="false"
                        tabindex="-1"
                        aria-labelledby="staticBackdropLabel"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                Deletar pessoa
                              </h1>
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              ></button>
                            </div>
                            <div class="modal-body">
                              Tem certeza de que deseja deletar {{ person.nome }}?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Cancelar
                              </button>
                              <button
                                type="button"
                                class="btn btn-primary"
                                (click)="deletePerson(person.id)"
                                data-bs-dismiss="modal"
                              >
                                Confirmar
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="peopleList.length === 0">
                    <td colspan="7">Ninguém encontrado</td>
                  </tr>
                </tbody>
              </table>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>


